

<p>
Bonjour,
<br>

Nous vous remercions de vous être inscrit sur notre site d'annuaire bien-être.<br>
Afin de pouvoir profiter de toutes les fonctionnalités de notre site, nous vous invitons à confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :<br><br>

<a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.

<br>
Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
<br><br>

Si vous n'avez pas effectué cette inscription, veuillez ignorer ce message.

<br><br>

Nous vous remercions pour votre confiance et espérons vous aider à trouver les meilleurs professionnels du bien-être.
<br>
Cordialement,
<br>
L'équipe de votre site d'annuaire bien-être      
    
</p>



