@charset "UTF-8";
/* couleurs*/
/*Fond d'écran*/
/*media quieri*/
html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  max-width: 1250px;
  margin: 1rem auto;
}

body {
  color: #000;
  margin: 0 auto;
}

button {
  background-color: #87d02a;
  color: #fff;
}

h1, h2, h3 {
  text-align: center;
  margin: 2rem;
  color: #87d02a;
}

.logo-container {
  text-align: center;
}
.logo-container img {
  width: 60%;
  margin: 2rem auto;
}

.icon_login {
  margin: 1rem;
}
.icon_login .bi {
  width: 20px;
  height: 20px;
}
.icon_login .btn {
  margin: 1rem 0;
  padding: 0.3rem;
}

@media screen and (min-width: 850px) {
  .h-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem auto;
    height: 10rem;
  }
  .logo-container {
    grid-column: 4/5;
    margin: 1rem auto;
    width: 100%;
    margin: 3rem 0rem 1rem 12rem;
  }
  .icon_login {
    grid-column: 1;
    top: -6.5rem;
    left: 0rem;
  }
}
.containerSearch {
  display: block;
  width: 100%;
}
.containerSearch .formSearch {
  background-color: #f8f9fa;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  list-style: none;
  width: 100%;
  opacity: 1;
  box-shadow: 10px 5px 5px grey;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .containerSearch {
    width: 100%;
  }
}
@media screen and (min-width: 850px) {
  .containerSearch {
    display: block;
    width: 100%;
  }
  .containerSearch .formSearch {
    box-shadow: none;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .formPrestaire {
    grid-column: 1/10;
    grid-row: 1;
    padding: 1rem 10rem;
  }
  .formRegion {
    grid-column: 1/4;
    grid-row: 2;
  }
  .formVille {
    grid-column: 4/7;
    grid-row: 2;
  }
  .formCp {
    grid-column: 7/10;
    grid-row: 2;
  }
  .formSubmit {
    grid-column: 4/7;
    grid-row: 3;
  }
}
.h-hamburger-icon {
  font-size: 3rem;
  position: absolute;
  right: 3rem;
  top: 2.5rem;
  color: #000;
}

.navigation {
  display: none;
  position: absolute;
  width: 90%;
  left: 0rem;
  top: 14rem;
}
.navigation.is-active {
  display: block;
  z-index: 1;
}
.navigation ul {
  background-color: #87d02a;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  list-style: none;
  height: 680px;
  width: 100%;
  position: absolute;
  top: -8rem;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}
.navigation li {
  margin: 0rem 0rem 0.7rem;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 850px) {
  .h-hamburger-icon .fa {
    display: none;
  }
  .navigation {
    display: block;
    width: 100%;
    height: 2rem;
    top: 2.3rem;
    text-align: center;
  }
  .navigation ul {
    display: inline;
    background: none;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    position: relative;
    top: 4.5rem;
  }
  .navigation li {
    display: inline;
    padding: 0.5rem 0.5rem 0;
    background-color: #87d02a;
    text-align: center;
    border-radius: 0.375rem;
    position: relative;
  }
  .navigation a {
    text-decoration: none;
    text-align: center;
    position: relative;
    bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
.ruban_container {
  text-align: center;
}

.ruban {
  width: 87%;
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  background-position: 10%;
  display: inline-block;
  /*transition: opacity 2s linear;*/
}

@keyframes fade-in {
  0% {
    background-image: url(../img/slider/slider-1.jpg);
  }
  50% {
    background-image: url(../img/slider/slider-2.jpg);
  }
  100% {
    background-image: url(../img/slider/slider-3.jpg);
  }
}
.list-category {
  margin: 2rem 0 0 0 0;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-list li {
  margin: 10px;
}

.button-list a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #87d02a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.button-list a:hover {
  background-color: #87d02a;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
}

.categorie_mois {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorie_mois .card {
  width: 95%;
}
.categorie_mois .card img {
  opacity: 0.4;
}
.categorie_mois .contenu_categ_mois {
  margin: 1rem auto;
  position: absolute;
  bottom: -2rem;
  padding: 1.25rem;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .categorie_mois .card {
    width: 60%;
  }
}
@media screen and (max-width: 850px) {
  .categorie_mois .card {
    width: 60%;
  }
}
.container_connexion {
  width: 50%;
  margin-top: 5rem;
}

.error_message {
  color: red;
}

.container_block_prestataire {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  text-align: center;
}

.block_prestataire {
  margin: 1rem auto;
}

/*# sourceMappingURL=screen.css.map */
