<div class = "categorie_mois">
  <h2>Catégorie du mois</h2>
  <div class="card text-bg-dark">
  {% for image in images %}
      
      {% if image.categorie != null %}
      
        {% if image.categorie.id == categ_mois.id  %}
        <div class= 'container_image'>
        
        <img src="img/categorie/{{image.imageName}}" class="card-img-top" alt="{{image.imageName}}">
        
       </div>
      
        {% endif %}   
         
      {% endif %}
    {% endfor %}
   
    <div class="contenu_categ_mois">
      <h5 class="card-title">{{categ_mois.nom}}</h5>
      <p class="card-text">{{categ_mois.description}}</p>
    </div>
  </div>
</div>