.categorie_mois{
    text-align: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .card{
        width: 95%;
        

        

        & img{
            opacity: 0.4 ;
        }
        
    }

    .contenu_categ_mois{
        margin: 1rem auto;
        position: absolute;
        bottom: -2rem;
        padding: 1.25rem;
        width: 100%;
    } 

    
}

@media screen and ( min-width:map-get($version,pc)){
    .categorie_mois{
        
    
        & .card{
            width: 60%;
        }
    }
}